<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=JINKIM" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OBCS.Properties.Settings.BCSX3ConnectionString" connectionString="Data Source=JINKIM;Initial Catalog=BCSX3;Persist Security Info=True;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.CoreLinkDB2013ConnectionString"
      connectionString="Data Source=JINKIM;Initial Catalog=CoreLinkDB2013;Persist Security Info=True;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.CoreXDBConnectionString"
      connectionString="Data Source=JINKIM;Initial Catalog=CoreXDB;Persist Security Info=True;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.CoreTESTConnectionString"
      connectionString="Data Source=JINKIM;Initial Catalog=CoreTEST;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.Core0925ConnectionString"
      connectionString="Data Source=JINKIM;Initial Catalog=Core0925;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.CoreNET2ConnectionString"
      connectionString="Data Source=JINKIM;Initial Catalog=CoreNET2;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.CoreAPConnectionString" connectionString="Data Source=JINKIM;Initial Catalog=CoreAP;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.Core0000ConnectionString"
      connectionString="Data Source=JINKIM;Initial Catalog=Core0000;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
    <add name="OBCS.Properties.Settings.CoreWOConnectionString" connectionString="Data Source=JINKIM;Initial Catalog=CoreWO;User ID=JINKIM;Password=JINKIM"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="JINKIM" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="JINKIM" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="JINKIM" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="JINKIM" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="JINKIM" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="JINKIM" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="JINKIM" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <probing privatePath="x86" />
    </assemblyBinding>
  </runtime>
  
</configuration>
