USE [CoreXDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CREATE_PINVOICE]    Script Date: 8/19/2022 3:44:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CREATE_PINVOICE] 
										  @RECNumber varchar(50),
										  @ReceivingSite varchar(3),
										  @SupplierID varchar(50),
										  @SupplierDocNo varchar(50),
										  @SupplierDocAmount decimal(18,2),
										  @ReceiptAmount decimal(18,2),
										  @Diff decimal(18,2),
										  @Cost decimal(18,2),
										  @InvoiceAmount decimal(18,2),
										  @Memo varchar(200),	
										  @Branch varchar(50),						  
										  @CreateUser varchar(50),
										  @NewPINNumber varchar(50),
										  @AccountingDate datetime,
										  @InvoiceReceptionDate DateTime
	
AS
BEGIN
	DECLARE
	--@NewPINNumber varchar(50),
	@SupplierName varchar(50),
	--@PaymentTermKey varchar(50),
	@PaymentTerm varchar(50),
	@TotalAmount decimal(18,2),
	@TotalQty decimal(18,2),
	@TotalCount decimal(18,2)


	--SELECT @NewPINNumber = CODNUM_0 + FORMAT(CAST(VALEUR_0 AS INT),'D6')
	--FROM AVALNUM
	--WHERE CODNUM_0 = 'PIN'

	SELECT @SupplierName = BPSNAM_0, @PaymentTerm = PTE_0--@PaymentTermKey = PTE_0
	FROM BPSUPPLIER
	WHERE BPSNUM_0 = @SupplierID

	--SELECT @PaymentTerm = TermName
	--FROM PaymentTerm
	--WHERE PaymentTermKey = @PaymentTermKey

	SELECT @TotalAmount = SUM(AMTNOTLIN_0)
	FROM PINVOICED
	WHERE NUM_0 = @NewPINNumber
	
	SELECT @TotalQty = SUM(QTYUOM_0)
	FROM PINVOICED
	WHERE NUM_0 = @NewPINNumber

	--@@@@@@@@@@@@@@@@@@@@@@@ chgtyp_0 is a flag used to indicate which date we should be using to calculate the dc-due-date/payment-due-date within the PO exception report page
    UPDATE PRECEIPT
	SET CHGTYP_0 = 1 WHERE PTHNUM_0 = @RECNumber
	--@@@@@@@@@@@@@@@@@@@@@@@

	INSERT INTO PINVOICE(
	[UPDTICK_0]
      ,[INVTYP_0]
      ,[NUM_0]
      ,[PIVTYP_0]
      ,[PIHTYP_0]
      ,[ORIMOD_0]
      ,[BPR_0]
      ,[BPRSAC_0]
      ,[CPY_0]
      ,[FCY_0]
      ,[GTE_0]
      ,[JOU_0]
      ,[ACCDAT_0]
      ,[ACCNUM_0]
      ,[INVREF_0]
      ,[BPRDAT_0]
      ,[BPRVCR_0]
      ,[CUR_0]
      ,[CURTYP_0]
      ,[LED_0]
      ,[LED_1]
      ,[LED_2]
      ,[LED_3]
      ,[LED_4]
      ,[LED_5]
      ,[LED_6]
      ,[LED_7]
      ,[LED_8]
      ,[LED_9]
      ,[CURLED_0]
      ,[CURLED_1]
      ,[CURLED_2]
      ,[CURLED_3]
      ,[CURLED_4]
      ,[CURLED_5]
      ,[CURLED_6]
      ,[CURLED_7]
      ,[CURLED_8]
      ,[CURLED_9]
      ,[RATMLT_0]
      ,[RATMLT_1]
      ,[RATMLT_2]
      ,[RATMLT_3]
      ,[RATMLT_4]
      ,[RATMLT_5]
      ,[RATMLT_6]
      ,[RATMLT_7]
      ,[RATMLT_8]
      ,[RATMLT_9]
      ,[RATDIV_0]
      ,[RATDIV_1]
      ,[RATDIV_2]
      ,[RATDIV_3]
      ,[RATDIV_4]
      ,[RATDIV_5]
      ,[RATDIV_6]
      ,[RATDIV_7]
      ,[RATDIV_8]
      ,[RATDIV_9]
      ,[RATDAT_0]
      ,[DAS2_0]
      ,[BPRPAY_0]
      ,[STRDUDDAT_0]
      ,[PTE_0]
      ,[DEP_0]
      ,[DEPRAT_0]
      ,[VAC_0]
      ,[CEEFLG_0]
      ,[EECNUMDEB_0]
      ,[STA_0]
      ,[PAZ_0]
      ,[DES_0]
      ,[DES_1]
      ,[DES_2]
      ,[DES_3]
      ,[DES_4]
      ,[INVNUM_0]
      ,[SNS_0]
      ,[AMTATI_0]
      ,[AMTNOT_0]
      ,[AMTATIL_0]
      ,[AMTNOTL_0]
      ,[VATDAT_0]
      ,[NBRTAX_0]
      ,[TAX_0]
      ,[TAX_1]
      ,[TAX_2]
      ,[TAX_3]
      ,[TAX_4]
      ,[TAX_5]
      ,[TAX_6]
      ,[TAX_7]
      ,[TAX_8]
      ,[TAX_9]
      ,[TAX_10]
      ,[TAX_11]
      ,[TAX_12]
      ,[TAX_13]
      ,[TAX_14]
      ,[TAX_15]
      ,[TAX_16]
      ,[TAX_17]
      ,[TAX_18]
      ,[TAX_19]
      ,[BASTAX_0]
      ,[BASTAX_1]
      ,[BASTAX_2]
      ,[BASTAX_3]
      ,[BASTAX_4]
      ,[BASTAX_5]
      ,[BASTAX_6]
      ,[BASTAX_7]
      ,[BASTAX_8]
      ,[BASTAX_9]
      ,[BASTAX_10]
      ,[BASTAX_11]
      ,[BASTAX_12]
      ,[BASTAX_13]
      ,[BASTAX_14]
      ,[BASTAX_15]
      ,[BASTAX_16]
      ,[BASTAX_17]
      ,[BASTAX_18]
      ,[BASTAX_19]
      ,[AMTTAX_0]
      ,[AMTTAX_1]
      ,[AMTTAX_2]
      ,[AMTTAX_3]
      ,[AMTTAX_4]
      ,[AMTTAX_5]
      ,[AMTTAX_6]
      ,[AMTTAX_7]
      ,[AMTTAX_8]
      ,[AMTTAX_9]
      ,[AMTTAX_10]
      ,[AMTTAX_11]
      ,[AMTTAX_12]
      ,[AMTTAX_13]
      ,[AMTTAX_14]
      ,[AMTTAX_15]
      ,[AMTTAX_16]
      ,[AMTTAX_17]
      ,[AMTTAX_18]
      ,[AMTTAX_19]
      ,[DEDTAX_0]
      ,[DEDTAX_1]
      ,[DEDTAX_2]
      ,[DEDTAX_3]
      ,[DEDTAX_4]
      ,[DEDTAX_5]
      ,[DEDTAX_6]
      ,[DEDTAX_7]
      ,[DEDTAX_8]
      ,[DEDTAX_9]
      ,[DEDTAX_10]
      ,[DEDTAX_11]
      ,[DEDTAX_12]
      ,[DEDTAX_13]
      ,[DEDTAX_14]
      ,[DEDTAX_15]
      ,[DEDTAX_16]
      ,[DEDTAX_17]
      ,[DEDTAX_18]
      ,[DEDTAX_19]
      ,[PURTYP_0]
      ,[PURTYP_1]
      ,[PURTYP_2]
      ,[PURTYP_3]
      ,[PURTYP_4]
      ,[PURTYP_5]
      ,[PURTYP_6]
      ,[PURTYP_7]
      ,[PURTYP_8]
      ,[PURTYP_9]
      ,[PURTYP_10]
      ,[PURTYP_11]
      ,[PURTYP_12]
      ,[PURTYP_13]
      ,[PURTYP_14]
      ,[PURTYP_15]
      ,[PURTYP_16]
      ,[PURTYP_17]
      ,[PURTYP_18]
      ,[PURTYP_19]
      ,[DIE_0]
      ,[DIE_1]
      ,[DIE_2]
      ,[DIE_3]
      ,[DIE_4]
      ,[DIE_5]
      ,[DIE_6]
      ,[DIE_7]
      ,[DIE_8]
      ,[DIE_9]
      ,[DIE_10]
      ,[DIE_11]
      ,[DIE_12]
      ,[DIE_13]
      ,[DIE_14]
      ,[DIE_15]
      ,[DIE_16]
      ,[DIE_17]
      ,[DIE_18]
      ,[DIE_19]
      ,[CCE_0]
      ,[CCE_1]
      ,[CCE_2]
      ,[CCE_3]
      ,[CCE_4]
      ,[CCE_5]
      ,[CCE_6]
      ,[CCE_7]
      ,[CCE_8]
      ,[CCE_9]
      ,[CCE_10]
      ,[CCE_11]
      ,[CCE_12]
      ,[CCE_13]
      ,[CCE_14]
      ,[CCE_15]
      ,[CCE_16]
      ,[CCE_17]
      ,[CCE_18]
      ,[CCE_19]
      ,[BPAINV_0]
      ,[BPRNAM_0]
      ,[BPRNAM_1]
      ,[BPAADDLIG_0]
      ,[BPAADDLIG_1]
      ,[BPAADDLIG_2]
      ,[POSCOD_0]
      ,[CTY_0]
      ,[SAT_0]
      ,[CRY_0]
      ,[CRYNAM_0]
      ,[BPAPAY_0]
      ,[BPYNAM_0]
      ,[BPYNAM_1]
      ,[BPYADDLIG_0]
      ,[BPYADDLIG_1]
      ,[BPYADDLIG_2]
      ,[BPYPOSCOD_0]
      ,[BPYCTY_0]
      ,[BPYSAT_0]
      ,[BPYCRY_0]
      ,[BPYCRYNAM_0]
      ,[EECNAT_0]
      ,[EECSCH_0]
      ,[EECTRN_0]
      ,[EECICT_0]
      ,[ICTCTY_0]
      ,[EECLOC_0]
      ,[EECNUM_0]
      ,[FFWNUM_0]
      ,[FFWADD_0]
      ,[FIY_0]
      ,[PER_0]
      ,[RITNBR_0]
      ,[RITCOD_0]
      ,[RITBAS_0]
      ,[RITAMT_0]
      ,[RITAMTDED_0]
      ,[RITBASDED_0]
      ,[RITINV_0]
      ,[RITPAY_0]
      ,[STRDATSVC_0]
      ,[ENDDATSVC_0]
      ,[LASDATSVC_0]
      ,[CAI_0]
      ,[DATVLYCAI_0]
      ,[TYPVCR_0]
      ,[CLSVCR_0]
      ,[SCUVCR_0]
      ,[SEQVCR_0]
      ,[SINUM_0]
      ,[EXPNUM_0]
      ,[CREDAT_0]
      ,[CREUSR_0]
      ,[UPDDAT_0]
      ,[UPDUSR_0]
      ,[UBLUSR_0]
      ,[UBLDAT_0]
      ,[UBLAMT_0]
      ,[TWMSTA_0]
      ,[FRM1099_0]
      ,[BOX1099_0]
      ,[AMTSUBJ1099_0]
      ,[BASDEP_0]
      ,[DEPTYP_0]
      ,[CREDATTIM_0]
      ,[UPDDATTIM_0]
      ,[SPACUSDAT_0]
      ,[SPACUS_0]
      ,[SPACUSBPR_0]
      ,[BELVCS_0]
      ,[PURPRITYP_0]
      ,[RCRNUM_0]
      ,[PORIMPLIQNUM_0]
      ,[RCRDAT_0]
      ,[NBRCPY_0]
      ,[CSHVAT_0]
      ,[FLD40REN_0]
      ,[FLD41REN_0]
      ,[ORIDOCNUM_0]
      ,[BVRREFLINE_0]
      ,[CHQNUM_0]
      ,[PStatus]
      ,[PMemo]
	  ,[SupplierDocAmount]
      ,[ReceiptAmount]
      ,[Diff]
      ,[Cost]
      ,[InvoiceAmount]
	  )
	  VALUES(
	  1--[UPDTICK_0]
      ,1--[INVTYP_0]
      ,@NewPINNumber--[NUM_0]
      ,'INV'--[PIVTYP_0]
      ,1--[PIHTYP_0]
      ,6--[ORIMOD_0]
      ,@SupplierID--[BPR_0]
      ,'AP'--[BPRSAC_0]
      ,'BIC'--[CPY_0]
      ,@ReceivingSite--[FCY_0]
      ,'SPINV'--[GTE_0]
      ,'PURCH'--[JOU_0]
      ,@AccountingDate--CONVERT(date, getdate())--[ACCDAT_0]
      ,0--[ACCNUM_0]
      ,@SupplierDocNo--[INVREF_0]
      ,CONVERT(date, getdate())--[BPRDAT_0]
      ,0--[BPRVCR_0]
      ,'USD'--[CUR_0]
      ,1--[CURTYP_0]
      ,'USD'--[LED_0]
      ,''--[LED_1]
      ,''--[LED_2]
      ,''--[LED_3]
      ,''--[LED_4]
      ,''--[LED_5]
      ,''--[LED_6]
      ,''--[LED_7]
      ,''--[LED_8]
      ,''--[LED_9]
      ,'USD'--[CURLED_0]
      ,''--[CURLED_1]
      ,''--[CURLED_2]
      ,''--[CURLED_3]
      ,''--[CURLED_4]
      ,''--[CURLED_5]
      ,''--[CURLED_6]
      ,''--[CURLED_7]
      ,''--[CURLED_8]
      ,''--[CURLED_9]
      ,1--[RATMLT_0]
      ,0--[RATMLT_1]
      ,0--[RATMLT_2]
      ,0--[RATMLT_3]
      ,0--[RATMLT_4]
      ,0--[RATMLT_5]
      ,0--[RATMLT_6]
      ,0--[RATMLT_7]
      ,0--[RATMLT_8]
      ,0--[RATMLT_9]
      ,0--[RATDIV_0]
      ,0--[RATDIV_1]
      ,0--[RATDIV_2]
      ,0--[RATDIV_3]
      ,0--[RATDIV_4]
      ,0--[RATDIV_5]
      ,0--[RATDIV_6]
      ,0--[RATDIV_7]
      ,0--[RATDIV_8]
      ,0--[RATDIV_9]
      ,CONVERT(date, getdate())--[RATDAT_0]
      ,0--[DAS2_0]
      ,@SupplierID--[BPRPAY_0]
      ,CONVERT(date, getdate())--[STRDUDDAT_0]
      ,@PaymentTerm--[PTE_0]
      ,''--[DEP_0]
      ,0--[DEPRAT_0]
      ,'USA'--[VAC_0]
      ,1--[CEEFLG_0]
      ,0--[EECNUMDEB_0]
      ,3--[STA_0]
      ,4--[PAZ_0]
      ,''--[DES_0]
      ,''--[DES_1]
      ,''--[DES_2]
      ,''--[DES_3]
      ,''--[DES_4]
      ,''--[INVNUM_0]
      ,1--[SNS_0]
      ,@TotalAmount--[AMTATI_0]
      ,@TotalAmount--[AMTNOT_0]
      ,@TotalAmount--[AMTATIL_0]
      ,@TotalAmount--[AMTNOTL_0]
      ,CONVERT(date, getdate())--[VATDAT_0]
      ,1--[NBRTAX_0]
      ,'NT'--[TAX_0]
      ,''--[TAX_1]
      ,''--[TAX_2]
      ,''--[TAX_3]
      ,''--[TAX_4]
      ,''--[TAX_5]
      ,''--[TAX_6]
      ,''--[TAX_7]
      ,''--[TAX_8]
      ,''--[TAX_9]
      ,''--[TAX_10]
      ,''--[TAX_11]
      ,''--[TAX_12]
      ,''--[TAX_13]
      ,''--[TAX_14]
      ,''--[TAX_15]
      ,''--[TAX_16]
      ,''--[TAX_17]
      ,''--[TAX_18]
      ,''--[TAX_19]
      ,@TotalAmount--[BASTAX_0]
      ,0--[BASTAX_1]
      ,0--[BASTAX_2]
      ,0--[BASTAX_3]
      ,0--[BASTAX_4]
      ,0--[BASTAX_5]
      ,0--[BASTAX_6]
      ,0--[BASTAX_7]
      ,0--[BASTAX_8]
      ,0--[BASTAX_9]
      ,0--[BASTAX_10]
      ,0--[BASTAX_11]
      ,0--[BASTAX_12]
      ,0--[BASTAX_13]
      ,0--[BASTAX_14]
      ,0--[BASTAX_15]
      ,0--[BASTAX_16]
      ,0--[BASTAX_17]
      ,0--[BASTAX_18]
      ,0--[BASTAX_19]
      ,0--[AMTTAX_0]
      ,0--[AMTTAX_1]
      ,0--[AMTTAX_2]
      ,0--[AMTTAX_3]
      ,0--[AMTTAX_4]
      ,0--[AMTTAX_5]
      ,0--[AMTTAX_6]
      ,0--[AMTTAX_7]
      ,0--[AMTTAX_8]
      ,0--[AMTTAX_9]
      ,0--[AMTTAX_10]
      ,0--[AMTTAX_11]
      ,0--[AMTTAX_12]
      ,0--[AMTTAX_13]
      ,0--[AMTTAX_14]
      ,0--[AMTTAX_15]
      ,0--[AMTTAX_16]
      ,0--[AMTTAX_17]
      ,0--[AMTTAX_18]
      ,0--[AMTTAX_19]
      ,0--[DEDTAX_0]
      ,0--[DEDTAX_1]
      ,0--[DEDTAX_2]
      ,0--[DEDTAX_3]
      ,0--[DEDTAX_4]
      ,0--[DEDTAX_5]
      ,0--[DEDTAX_6]
      ,0--[DEDTAX_7]
      ,0--[DEDTAX_8]
      ,0--[DEDTAX_9]
      ,0--[DEDTAX_10]
      ,0--[DEDTAX_11]
      ,0--[DEDTAX_12]
      ,0--[DEDTAX_13]
      ,0--[DEDTAX_14]
      ,0--[DEDTAX_15]
      ,0--[DEDTAX_16]
      ,0--[DEDTAX_17]
      ,0--[DEDTAX_18]
      ,0--[DEDTAX_19]
      ,1--[PURTYP_0]
      ,0--[PURTYP_1]
      ,0--[PURTYP_2]
      ,0--[PURTYP_3]
      ,0--[PURTYP_4]
      ,0--[PURTYP_5]
      ,0--[PURTYP_6]
      ,0--[PURTYP_7]
      ,0--[PURTYP_8]
      ,0--[PURTYP_9]
      ,0--[PURTYP_10]
      ,0--[PURTYP_11]
      ,0--[PURTYP_12]
      ,0--[PURTYP_13]
      ,0--[PURTYP_14]
      ,0--[PURTYP_15]
      ,0--[PURTYP_16]
      ,0--[PURTYP_17]
      ,0--[PURTYP_18]
      ,0--[PURTYP_19]
      ,'BUD'--[DIE_0]
      ,''--[DIE_1]
      ,''--[DIE_2]
      ,''--[DIE_3]
      ,''--[DIE_4]
      ,''--[DIE_5]
      ,''--[DIE_6]
      ,''--[DIE_7]
      ,''--[DIE_8]
      ,''--[DIE_9]
      ,''--[DIE_10]
      ,''--[DIE_11]
      ,''--[DIE_12]
      ,''--[DIE_13]
      ,''--[DIE_14]
      ,''--[DIE_15]
      ,''--[DIE_16]
      ,''--[DIE_17]
      ,''--[DIE_18]
      ,''--[DIE_19]
      ,''--[CCE_0]
      ,''--[CCE_1]
      ,''--[CCE_2]
      ,''--[CCE_3]
      ,''--[CCE_4]
      ,''--[CCE_5]
      ,''--[CCE_6]
      ,''--[CCE_7]
      ,''--[CCE_8]
      ,''--[CCE_9]
      ,''--[CCE_10]
      ,''--[CCE_11]
      ,''--[CCE_12]
      ,''--[CCE_13]
      ,''--[CCE_14]
      ,''--[CCE_15]
      ,''--[CCE_16]
      ,''--[CCE_17]
      ,''--[CCE_18]
      ,''--[CCE_19]
      ,'MAIN'--[BPAINV_0]
      ,@SupplierName--[BPRNAM_0]
      ,''--[BPRNAM_1]
      ,''--[BPAADDLIG_0]
      ,''--[BPAADDLIG_1]
      ,''--[BPAADDLIG_2]
      ,''--[POSCOD_0]
      ,''--[CTY_0]
      ,''--[SAT_0]
      ,''--[CRY_0]
      ,''--[CRYNAM_0]
      ,''--[BPAPAY_0]
      ,''--[BPYNAM_0]
      ,''--[BPYNAM_1]
      ,''--[BPYADDLIG_0]
      ,''--[BPYADDLIG_1]
      ,''--[BPYADDLIG_2]
      ,''--[BPYPOSCOD_0]
      ,''--[BPYCTY_0]
      ,''--[BPYSAT_0]
      ,''--[BPYCRY_0]
      ,''--[BPYCRYNAM_0]
      ,''--[EECNAT_0]
      ,''--[EECSCH_0]
      ,0--[EECTRN_0]
      ,''--[EECICT_0]
      ,''--[ICTCTY_0]
      ,3--[EECLOC_0]
      ,''--[EECNUM_0]
      ,''--[FFWNUM_0]
      ,''--[FFWADD_0]
      ,0--[FIY_0]
      ,0--[PER_0]
      ,0--[RITNBR_0]
      ,''--[RITCOD_0]
      ,0--[RITBAS_0]
      ,0--[RITAMT_0]
      ,0--[RITAMTDED_0]
      ,0--[RITBASDED_0]
      ,''--[RITINV_0]
      ,''--[RITPAY_0]
      ,@InvoiceReceptionDate--[STRDATSVC_0]   @InvoiceReceptionDate
      ,'1753-01-01 00:00:00.000'--[ENDDATSVC_0]
      ,'1753-01-01 00:00:00.000'--[LASDATSVC_0]
      ,''--[CAI_0]
      ,'1753-01-01 00:00:00.000'--[DATVLYCAI_0]
      ,''--[TYPVCR_0]
      ,''--[CLSVCR_0]
      ,''--[SCUVCR_0]
      ,''--[SEQVCR_0]
      ,''--[SINUM_0]
      ,1--[EXPNUM_0]
      ,CONVERT(date, getdate())--[CREDAT_0]
      ,@CreateUser--[CREUSR_0]
      ,CONVERT(date, getdate())--[UPDDAT_0]
      ,@CreateUser--[UPDUSR_0]
      ,''--[UBLUSR_0]
      ,'1753-01-01 00:00:00.000'--[UBLDAT_0]
      ,0--[UBLAMT_0]
      ,1--[TWMSTA_0]
      ,1--[FRM1099_0]
      ,''--[BOX1099_0]
      ,0--[AMTSUBJ1099_0]
      ,0--[BASDEP_0]
      ,0--[DEPTYP_0]
      ,GETDATE()--[CREDATTIM_0]
      ,GETDATE()--[UPDDATTIM_0]
      ,'1753-01-01 00:00:00.000'--[SPACUSDAT_0]
      ,''--[SPACUS_0]
      ,''--[SPACUSBPR_0]
      ,''--[BELVCS_0]
      ,0--[PURPRITYP_0]
      ,''--[RCRNUM_0]
      ,''--[PORIMPLIQNUM_0]
      ,'1753-01-01 00:00:00.000'--[RCRDAT_0]
      ,0--[NBRCPY_0]
      ,0--[CSHVAT_0]
      ,''--[FLD40REN_0]
      ,''--[FLD41REN_0]
      ,@RECNumber--[ORIDOCNUM_0]
      ,''--[BVRREFLINE_0]
      ,''--[CHQNUM_0]
      ,''--[PStatus]
      ,@Memo--[PMemo]
	  ,@SupplierDocAmount--[SupplierDocAmount]
      ,@ReceiptAmount--[ReceiptAmount]
      ,@Diff--[Diff]
      ,@Cost--[Cost]
      ,@InvoiceAmount--[InvoiceAmount]
	  )


	--UPDATE AVALNUM 
	--set 
	--VALEUR_0 = VALEUR_0 + 1,
	--UPDUSR_0 = @CreateUser,
	--UPDDATTIM_0 = GETDATE()
	--where CODNUM_0 = 'PIN'
	
	UPDATE PRECEIPT
	SET PStatus = 'INVOICE'
	WHERE PTHNUM_0 = @RECNumber;
  
END