USE [CoreXDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CREATE_PORDER]    Script Date: 8/19/2022 3:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CREATE_PORDER] 
										  --@ProductBCS varchar(50),
										  --@ProductSupplier varchar(50),
									   --   @OrderQty decimal(18,2),
										  --@Description varchar(50),
										  --@PackSize varchar(50),
										  --@GrossPrice decimal(18,2),
										  --@EDLP decimal(18,2),
										  --@EDLPP decimal(18,2),	
										  --@TermPromo decimal(18,2),	
										  --@TermPromoP decimal(18,2),	
										  --@NetPrice decimal(18,2),	
										  --@OrderAmount decimal(18,2),	
										  --@Unit varchar(50),
										  --@ExpectedRcptDate datetime,
										  --@BilledBySupplier varchar(50),
										  
										  @SupplierID varchar(50),
										  @ReceivingSite varchar(50),
										  @POPNumber varchar(50),
										  @Memo varchar(200),
										  @POPrepareNumber varchar(50),								  
										  @CreateUser varchar(50),
										  @NewPONumber varchar(50),
										  @ExpectedRcptDate datetime,
										  @ShipVia varchar(50),
										  @WHMemo varchar(200)
	
AS
BEGIN
	DECLARE
	@SupplierName varchar(50),
	--@PaymentTermKey varchar(50),
	@PaymentTerm varchar(50),
	@TotalAmount decimal(18,2),
	@TotalCount decimal(18,2),
	@Company varchar(5)


	--SELECT @NewPONumber = CODNUM_0 + FORMAT(CAST(VALEUR_0 AS INT),'D6')
	--FROM AVALNUM
	--WHERE CODNUM_0 = 'PO'

	SELECT @SupplierName = BPSNAM_0, @PaymentTerm = PTE_0
	FROM BPSUPPLIER
	WHERE BPSNUM_0 = @SupplierID

	if(@ReceivingSite in ('BCS', 'WH2'))
		SET @Company = 'BIC'
	else if (@ReceivingSite = 'IFN')
		SET @Company = 'IFN'

	INSERT INTO PORDER(
	[UPDTICK_0]
      ,[POHNUM_0]
      ,[CPY_0]
      ,[POHFCY_0]
      ,[POHTYP_0]
      ,[PURTYP_0]
      ,[REVNUM_0]
      ,[ORDDAT_0]
      ,[ORDREF_0]
      ,[BPSNUM_0]
      ,[BPAADD_0]
      ,[BPRNAM_0]
      ,[BPRNAM_1]
      ,[BPAADDLIG_0]
      ,[BPAADDLIG_1]
      ,[BPAADDLIG_2]
      ,[POSCOD_0]
      ,[CTY_0]
      ,[SAT_0]
      ,[CRY_0]
      ,[CRYNAM_0]
      ,[BPOADD_0]
      ,[BPONAM_0]
      ,[BPONAM_1]
      ,[BPOADDLIG_0]
      ,[BPOADDLIG_1]
      ,[BPOADDLIG_2]
      ,[BPOPOSCOD_0]
      ,[BPOCTY_0]
      ,[BPOSAT_0]
      ,[BPOCRY_0]
      ,[BPOCRYNAM_0]
      ,[INVFCY_0]
      ,[RCPFCY_0]
      ,[EXTRCPDAT1_0]
      ,[TSSCOD_0]
      ,[TSSCOD_1]
      ,[TSSCOD_2]
      ,[TSSCOD_3]
      ,[TSSCOD_4]
      ,[PTE_0]
      ,[DEP_0]
      ,[MDL_0]
      ,[BPTNUM_0]
      ,[BPRPAY_0]
      ,[BPAPAY_0]
      ,[BPSINV_0]
      ,[BPAINV_0]
      ,[EECICT_0]
      ,[ICTCTY_0]
      ,[GPGCOD_0]
      ,[FFWNUM_0]
      ,[FFWADD_0]
      ,[EECLOC_0]
      ,[EECNUM_0]
      ,[BUY_0]
      ,[DIE_0]
      ,[DIE_1]
      ,[DIE_2]
      ,[DIE_3]
      ,[DIE_4]
      ,[DIE_5]
      ,[DIE_6]
      ,[DIE_7]
      ,[DIE_8]
      ,[DIE_9]
      ,[DIE_10]
      ,[DIE_11]
      ,[DIE_12]
      ,[DIE_13]
      ,[DIE_14]
      ,[DIE_15]
      ,[DIE_16]
      ,[DIE_17]
      ,[DIE_18]
      ,[DIE_19]
      ,[CCE_0]
      ,[CCE_1]
      ,[CCE_2]
      ,[CCE_3]
      ,[CCE_4]
      ,[CCE_5]
      ,[CCE_6]
      ,[CCE_7]
      ,[CCE_8]
      ,[CCE_9]
      ,[CCE_10]
      ,[CCE_11]
      ,[CCE_12]
      ,[CCE_13]
      ,[CCE_14]
      ,[CCE_15]
      ,[CCE_16]
      ,[CCE_17]
      ,[CCE_18]
      ,[CCE_19]
      ,[LAN_0]
      ,[CUR_0]
      ,[CHGTYP_0]
      ,[CHGCOE_0]
      ,[VACBPR_0]
      ,[VACTYP_0]
      ,[DISCRGTYP_0]
      ,[DISCRGTYP_1]
      ,[DISCRGTYP_2]
      ,[DISCRGTYP_3]
      ,[DISCRGTYP_4]
      ,[DISCRGTYP_5]
      ,[DISCRGTYP_6]
      ,[DISCRGTYP_7]
      ,[DISCRGTYP_8]
      ,[LINNBR_0]
      ,[FBULINNBR_0]
      ,[RCPLINNBR_0]
      ,[CLELINNBR_0]
      ,[INVLINNBR_0]
      ,[RCPNBR_0]
      ,[INVNBR_0]
      ,[APPFLG_0]
      ,[CLEFLG_0]
      ,[RCPFLG_0]
      ,[INVFLG_0]
      ,[PRNFLG_0]
      ,[COPNBR_0]
      ,[TEX1_0]
      ,[TEX2_0]
      ,[OCNDAT_0]
      ,[OCNNUM_0]
      ,[OCNREM_0]
      ,[OCNFLG_0]
      ,[FUPFLG_0]
      ,[BETCPY_0]
      ,[BETFCY_0]
      ,[ORIFCY_0]
      ,[STOFCY_0]
      ,[SALFCY_0]
      ,[SOHCAT_0]
      ,[BPCORD_0]
      ,[DME_0]
      ,[DSPWEU_0]
      ,[DSPVOU_0]
      ,[TOTLINATI_0]
      ,[TOTLINAMT_0]
      ,[TOTLINQTY_0]
      ,[TOTLINWEU_0]
      ,[TOTLINVOU_0]
      ,[TOTTAXAMT_0]
      ,[INVDTALIN1_0]
      ,[INVDTALIN1_1]
      ,[INVDTALIN1_2]
      ,[INVDTALIN1_3]
      ,[INVDTALIN1_4]
      ,[INVDTALIN1_5]
      ,[INVDTALIN1_6]
      ,[INVDTALIN1_7]
      ,[INVDTALIN1_8]
      ,[INVDTAVAT1_0]
      ,[INVDTAVAT1_1]
      ,[INVDTAVAT1_2]
      ,[INVDTAVAT1_3]
      ,[INVDTAVAT1_4]
      ,[INVDTAVAT1_5]
      ,[INVDTAVAT1_6]
      ,[INVDTAVAT1_7]
      ,[INVDTAVAT1_8]
      ,[INVDTALIN2_0]
      ,[INVDTALIN2_1]
      ,[INVDTALIN2_2]
      ,[INVDTALIN2_3]
      ,[INVDTALIN2_4]
      ,[INVDTALIN2_5]
      ,[INVDTALIN2_6]
      ,[INVDTALIN2_7]
      ,[INVDTALIN2_8]
      ,[INVDTAVAT2_0]
      ,[INVDTAVAT2_1]
      ,[INVDTAVAT2_2]
      ,[INVDTAVAT2_3]
      ,[INVDTAVAT2_4]
      ,[INVDTAVAT2_5]
      ,[INVDTAVAT2_6]
      ,[INVDTAVAT2_7]
      ,[INVDTAVAT2_8]
      ,[TOTORD_0]
      ,[TTVORD_0]
      ,[TOTORDL_0]
      ,[TTVORDL_0]
      ,[TOTVLT_0]
      ,[STRDAT_0]
      ,[ENDDAT_0]
      ,[SINUM_0]
      ,[EXPNUM_0]
      ,[TCTRNUM_0]
      ,[TCTRQTY_0]
      ,[ORDMAXAMT_0]
      ,[WEICAP_0]
      ,[VOLCAP_0]
      ,[CREUSR_0]
      ,[CREDAT_0]
      ,[UPDUSR_0]
      ,[UPDDAT_0]
      ,[CREDATTIM_0]
      ,[UPDDATTIM_0]
	  ,[PMemo]
	  ,[WHMemo]
	  )
	  VALUES(
	  1--[UPDTICK_0]
      ,@NewPONumber--[POHNUM_0]
      ,@Company--'BIC'--[CPY_0]
      ,@ReceivingSite--@Brand--[POHFCY_0]
      ,1--[POHTYP_0]
      ,1--[PURTYP_0]
      ,0--[REVNUM_0]
      ,CONVERT(date, getdate())--[ORDDAT_0]
      ,@POPNumber--[ORDREF_0]
      ,@SupplierID--[BPSNUM_0]
      ,'MAIN'--[BPAADD_0]
      ,@SupplierName--[BPRNAM_0]
      ,''--[BPRNAM_1]
      ,''--[BPAADDLIG_0]
      ,''--[BPAADDLIG_1]
      ,''--[BPAADDLIG_2]
      ,''--@ZipCode--[POSCOD_0]
      ,''--@City--[CTY_0]
      ,''--@State[SAT_0]
      ,'US'--[CRY_0]
      ,'United States of America'--[CRYNAM_0]
      ,'MAIN'--[BPOADD_0]
      ,@SupplierID--[BPONAM_0]
      ,''--[BPONAM_1]
      ,''--[BPOADDLIG_0]
      ,''--[BPOADDLIG_1]
      ,''--[BPOADDLIG_2]
      ,''--[BPOPOSCOD_0]
      ,''--[BPOCTY_0]
      ,''--[BPOSAT_0]
      ,''--[BPOCRY_0]
      ,'United States of America'--[BPOCRYNAM_0]
      ,@ReceivingSite--'BCS'--[INVFCY_0]
      ,''--[RCPFCY_0]
      ,@ExpectedRcptDate--CONVERT(date, getdate())--[EXTRCPDAT1_0]
      ,0--[TSSCOD_0]
      ,''--[TSSCOD_1]
      ,''--[TSSCOD_2]
      ,''--[TSSCOD_3]
      ,''--[TSSCOD_4]
      ,@PaymentTerm--[PTE_0]
      ,''--[DEP_0]
      ,''--[MDL_0]
      ,@ShipVia--[BPTNUM_0]
      ,@SupplierID--[BPRPAY_0]
      ,'MAIN'--[BPAPAY_0]
      ,@SupplierID--[BPSINV_0]
      ,'MAIN'--[BPAINV_0]
      ,''--[EECICT_0]
      ,''--[ICTCTY_0]
      ,''--[GPGCOD_0]
      ,''--[FFWNUM_0]
      ,''--[FFWADD_0]
      ,3--[EECLOC_0]
      ,''--[EECNUM_0]
      ,@CreateUser--[BUY_0]
      ,'BUD'--[DIE_0]
      ,''--[DIE_1]
      ,''--[DIE_2]
      ,''--[DIE_3]
      ,''--[DIE_4]
      ,''--[DIE_5]
      ,''--[DIE_6]
      ,''--[DIE_7]
      ,''--[DIE_8]
      ,''--[DIE_9]
      ,''--[DIE_10]
      ,''--[DIE_11]
      ,''--[DIE_12]
      ,''--[DIE_13]
      ,''--[DIE_14]
      ,''--[DIE_15]
      ,''--[DIE_16]
      ,''--[DIE_17]
      ,''--[DIE_18]
      ,''--[DIE_19]
      ,''--[CCE_0]
      ,''--[CCE_1]
      ,''--[CCE_2]
      ,''--[CCE_3]
      ,''--[CCE_4]
      ,''--[CCE_5]
      ,''--[CCE_6]
      ,''--[CCE_7]
      ,''--[CCE_8]
      ,''--[CCE_9]
      ,''--[CCE_10]
      ,''--[CCE_11]
      ,''--[CCE_12]
      ,''--[CCE_13]
      ,''--[CCE_14]
      ,''--[CCE_15]
      ,''--[CCE_16]
      ,''--[CCE_17]
      ,''--[CCE_18]
      ,''--[CCE_19]
      ,'ENG'--[LAN_0]
      ,'USD'--[CUR_0]
      ,1--[CHGTYP_0]
      ,0--[CHGCOE_0]
      ,'USA'--[VACBPR_0]
      ,1--[VACTYP_0]
      ,2--[DISCRGTYP_0]
      ,2--[DISCRGTYP_1]
      ,2--[DISCRGTYP_2]
      ,1--[DISCRGTYP_3]
      ,1--[DISCRGTYP_4]
      ,0--[DISCRGTYP_5]
      ,0--[DISCRGTYP_6]
      ,0--[DISCRGTYP_7]
      ,0--[DISCRGTYP_8]
      ,0--[LINNBR_0]
      ,0--[FBULINNBR_0]
      ,6--[RCPLINNBR_0]
      ,6--[CLELINNBR_0]
      ,6--[INVLINNBR_0]
      ,0--[RCPNBR_0]
      ,0--[INVNBR_0]
      ,0--[APPFLG_0]
      ,0--[CLEFLG_0]
      ,0--[RCPFLG_0]
      ,0--[INVFLG_0]
      ,0--[PRNFLG_0]
      ,0--[COPNBR_0]
      ,''--[TEX1_0]
      ,''--[TEX2_0]
      ,''--[OCNDAT_0]
      ,''--[OCNNUM_0]
      ,''--[OCNREM_0]
      ,0--[OCNFLG_0]
      ,0--[FUPFLG_0]
      ,1--[BETCPY_0]
      ,1--[BETFCY_0]
      ,''--[ORIFCY_0]
      ,''--[STOFCY_0]
      ,''--[SALFCY_0]
      ,1--[SOHCAT_0]
      ,''--[BPCORD_0]
      ,1--[DME_0]
      ,'KG'--[DSPWEU_0]
      ,'L'--[DSPVOU_0]
      ,0--@TotalAmount--[TOTLINATI_0]
      ,0--@TotalAmount--[TOTLINAMT_0]
      ,0--@TotalQty--[TOTLINQTY_0]
      ,0--[TOTLINWEU_0]
      ,0--[TOTLINVOU_0]
      ,0--[TOTTAXAMT_0]
      ,0--[INVDTALIN1_0]
      ,0--[INVDTALIN1_1]
      ,0--[INVDTALIN1_2]
      ,0--[INVDTALIN1_3]
      ,0--[INVDTALIN1_4]
      ,0--[INVDTALIN1_5]
      ,0--[INVDTALIN1_6]
      ,0--[INVDTALIN1_7]
      ,0--[INVDTALIN1_8]
      ,''--[INVDTAVAT1_0]
      ,''--[INVDTAVAT1_1]
      ,''--[INVDTAVAT1_2]
      ,''--[INVDTAVAT1_3]
      ,''--[INVDTAVAT1_4]
      ,''--[INVDTAVAT1_5]
      ,''--[INVDTAVAT1_6]
      ,''--[INVDTAVAT1_7]
      ,''--[INVDTAVAT1_8]
      ,0--[INVDTALIN2_0]
      ,0--[INVDTALIN2_1]
      ,0--[INVDTALIN2_2]
      ,0--[INVDTALIN2_3]
      ,0--[INVDTALIN2_4]
      ,0--[INVDTALIN2_5]
      ,0--[INVDTALIN2_6]
      ,0--[INVDTALIN2_7]
      ,0--[INVDTALIN2_8]
      ,''--[INVDTAVAT2_0]
      ,''--[INVDTAVAT2_1]
      ,''--[INVDTAVAT2_2]
      ,''--[INVDTAVAT2_3]
      ,''--[INVDTAVAT2_4]
      ,''--[INVDTAVAT2_5]
      ,''--[INVDTAVAT2_6]
      ,''--[INVDTAVAT2_7]
      ,''--[INVDTAVAT2_8]
      ,0--@TotalAmount--[TOTORD_0]
      ,0--@TotalAmount--[TTVORD_0]
      ,0--@TotalAmount--[TOTORDL_0]
      ,0--@TotalAmount--[TTVORDL_0]
      ,0--[TOTVLT_0]
      ,'1753-01-01 00:00:00.000'--[STRDAT_0]
      ,'1753-01-01 00:00:00.000'--[ENDDAT_0]
      ,''--[SINUM_0]
      ,1--[EXPNUM_0]
      ,''--[TCTRNUM_0]
      ,0--[TCTRQTY_0]
      ,0--[ORDMAXAMT_0]
      ,0--[WEICAP_0]
      ,0--[VOLCAP_0]
      ,@CreateUser--[CREUSR_0]
      ,CONVERT(date, getdate())--[CREDAT_0]
      ,@CreateUser--[UPDUSR_0]
      ,CONVERT(date, getdate())--[UPDDAT_0]
      ,GETDATE()--[CREDATTIM_0]
      ,GETDATE()--[UPDDATTIM_0]
	  ,@Memo
	  ,@WHMemo
	  )


	UPDATE AVALNUM 
	set 
	VALEUR_0 = VALEUR_0 + 1,
	UPDUSR_0 = @CreateUser,
	UPDDATTIM_0 = GETDATE()
	where CODNUM_0 = 'PO'

	UPDATE POPrepare
	SET POPrepareStatus = 'PORDER'
	WHERE POPrepareNumber = @POPrepareNumber
	                
END
