USE [CoreXDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GoodsReceiptValueCalculation]    Script Date: 8/19/2022 3:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GoodsReceiptValueCalculation] @PONumber VARCHAR(100), @RECNumber varchar(20)
	
AS
BEGIN
	
	declare @LICPLATE varchar(10)
	select @LICPLATE =  LICPLATE_0 from preceipt where PTHNUM_0 = @RECNumber


	select
	A.ITMREF_0 AS ProductID, 
	C.ITMREFBPS_0 AS SupplierProductID, 
	A.ITMDES1_0 AS ProductDesc,
	A.PackSize AS PackSize,
	A.Unit AS Unit,
	A.InnerCase AS StockConversionQty,
	A.QTY_0 AS OrderQty, 
	ISNULL(B.QTYUOM_0, 0) AS ReceiptQty,
	IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0) AS SupplierInvoiceQty,
	'' AS 'blank',

	ISNULL(B.GROPRI_0, A.GROPRI_0) AS BCSGrossPrice,
	ISNULL(B.GROPRI_0, A.GROPRI_0) * ISNULL(B.QTYUOM_0, 0) AS BCSGrossAmount,


	IIF(E.LICPLATE_0 = '', ISNULL(B.GROPRI_0, A.GROPRI_0), A.DISCRGVAL7_0) AS SupplierGrossPrice,
	IIF(E.LICPLATE_0 = '', ISNULL(B.GROPRI_0, A.GROPRI_0) * ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL7_0 * IIF(E.LICPLATE_0 = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0)) AS SupplierGrossAmount,
	-1 * ((ISNULL(B.GROPRI_0, A.GROPRI_0) * ISNULL(B.QTYUOM_0, 0)) - (IIF(E.LICPLATE_0 = '', ISNULL(B.GROPRI_0, A.GROPRI_0) * ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL7_0 * IIF(E.LICPLATE_0 = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0)))) AS GrossDiff,
	--'' AS '2',

	ISNULL(B.EDLP, A.EDLP) AS BCSEDLP,
	ISNULL(B.EDLP, A.EDLP) * ISNULL(B.QTYUOM_0, 0) AS BCSEDLPAmount,

	IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP), A.DISCRGVAL8_0) AS SupplierEDLP,
	IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP) * ISNULL(B.QTYUOM_0, 0), IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP), A.DISCRGVAL8_0) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0)) AS SupplierEDLPAmount,
	
	-1 * ((ISNULL(B.EDLP, A.EDLP) * ISNULL(B.QTYUOM_0, 0))-(IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP) * ISNULL(B.QTYUOM_0, 0), IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP), A.DISCRGVAL8_0) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0)))) AS EDLPDiff,

	--'' AS '3',

	ISNULL(B.EDLPP, A.EDLPP) AS BCSEDLPP,
	ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.EDLPP, A.EDLPP) / 100),2) * ISNULL(B.QTYUOM_0, 0) AS BCSEDLPPAmount,

	IIF(@LICPLATE = '', ISNULL(B.EDLPP, A.EDLPP), A.DISCRGVAL9_0) AS SupplierEDLPP,
	ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.EDLPP, A.EDLPP), A.DISCRGVAL9_0) / 100),2) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0) AS SupplierEDLPPAmount,

	-1 * ((ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.EDLPP, A.EDLPP) / 100),2) * ISNULL(B.QTYUOM_0, 0)) - (ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.EDLPP, A.EDLPP), A.DISCRGVAL9_0) / 100),2) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0))) AS EDLPPDiff,

	--'' AS '4',
	
	ISNULL(B.TermPromo, A.TermPromo) AS BCSTermPromo,
	ISNULL(B.TermPromo, A.TermPromo) * ISNULL(B.QTYUOM_0, 0) AS BCSTermPromoAmount,

	IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo), A.DISCRGREN1_0) AS SupplierTermPromo,
	IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo) * ISNULL(B.QTYUOM_0, 0), IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo), A.DISCRGREN1_0) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0)) AS SupplierTermPromoAmount,
	
	-1 * ((ISNULL(B.TermPromo, A.TermPromo) * ISNULL(B.QTYUOM_0, 0)) - (IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo) * ISNULL(B.QTYUOM_0, 0), IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo), A.DISCRGREN1_0) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0)))) AS TermPromoDiff,

	--'' AS '5',

	ISNULL(B.TermPromoP, A.TermPromoP) AS BCSTermPromoP,
	ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.TermPromoP, A.TermPromoP) / 100),2) * ISNULL(B.QTYUOM_0, 0) AS BCSTermPromoPAmount,

	IIF(@LICPLATE = '', ISNULL(B.TermPromoP, A.TermPromoP), A.DISCRGREN2_0) AS SupplierTermPromoP,
	ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.TermPromoP, A.TermPromoP), A.DISCRGREN2_0) / 100),2) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0) AS SupplierTermPromoPAmount,

	-1 * ((ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.TermPromoP, A.TermPromoP) / 100),2) * ISNULL(B.QTYUOM_0, 0)) - (ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.TermPromoP, A.TermPromoP), A.DISCRGREN2_0) / 100),2) * IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0))) AS TermPromoPDiff,


	--'' AS '6',
	
	ISNULL(B.GROPRI_0, A.GROPRI_0) - ISNULL(B.EDLP, A.EDLP) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.EDLPP, A.EDLPP) / 100),2) - ISNULL(B.TermPromo, A.TermPromo) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.TermPromoP, A.TermPromoP) / 100),2) AS BCSNetPrice,
	--ISNULL(B.GROPRI_0,A.GROPRI_0) - ISNULL(B.EDLP, A.EDLP) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.EDLPP, A.EDLPP) / 100),2) - ISNULL(B.TermPromo, A.TermPromo) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.TermPromoP, A.TermPromoP) / 100),2)  AS BCSNetPrice,
	(ISNULL(B.GROPRI_0, A.GROPRI_0) - ISNULL(B.EDLP, A.EDLP) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.EDLPP, A.EDLPP) / 100),2) - ISNULL(B.TermPromo, A.TermPromo) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.TermPromoP, A.TermPromoP) / 100),2)) * ISNULL(B.QTYUOM_0,0) AS BCSNetAmount,

	IIF(E.LICPLATE_0 = '', ISNULL(B.GROPRI_0, A.GROPRI_0), A.DISCRGVAL7_0)
	 - IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP), A.DISCRGVAL8_0)
	 - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.EDLPP, A.EDLPP), A.DISCRGVAL9_0) / 100),2)
	 - IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo), A.DISCRGREN1_0)
	 - (ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.TermPromoP, A.TermPromoP), A.DISCRGREN2_0) / 100),2))
	AS SupplierNetPrice,
	(IIF(E.LICPLATE_0 = '', ISNULL(B.GROPRI_0, A.GROPRI_0), A.DISCRGVAL7_0)
	 - IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP), A.DISCRGVAL8_0)
	 - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.EDLPP, A.EDLPP), A.DISCRGVAL9_0) / 100),2)
	 - IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo), A.DISCRGREN1_0)
	 - (ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.TermPromoP, A.TermPromoP), A.DISCRGREN2_0) / 100),2)))* (IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0))
	AS SupplierNetAmount,
	-1 * (((ISNULL(B.GROPRI_0, A.GROPRI_0) - ISNULL(B.EDLP, A.EDLP) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.EDLPP, A.EDLPP) / 100),2) - ISNULL(B.TermPromo, A.TermPromo) - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * ISNULL(B.TermPromoP, A.TermPromoP) / 100),2)) * ISNULL(B.QTYUOM_0,0)) - ((IIF(E.LICPLATE_0 = '', ISNULL(B.GROPRI_0, A.GROPRI_0), A.DISCRGVAL7_0)
	 - IIF(@LICPLATE = '', ISNULL(B.EDLP, A.EDLP), A.DISCRGVAL8_0)
	 - ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.EDLPP, A.EDLPP), A.DISCRGVAL9_0) / 100),2)
	 - IIF(@LICPLATE = '', ISNULL(B.TermPromo, A.TermPromo), A.DISCRGREN1_0)
	 - (ROUND((ISNULL(B.GROPRI_0,A.GROPRI_0) * IIF(@LICPLATE = '', ISNULL(B.TermPromoP, A.TermPromoP), A.DISCRGREN2_0) / 100),2)))* (IIF(@LICPLATE = '', ISNULL(B.QTYUOM_0, 0), A.DISCRGVAL6_0)))) AS NetDiff,
	A.POPLIN_0

	from porderd A
	left outer join PRECEIPTD B ON A.POHNUM_0 = B.POHNUM_0 and A.POPLIN_0 = B.POPLIN_0
	left outer join ITMBPS C ON A.ITMREF_0 = C.ITMREF_0 AND A.BilledBySupplier = C.BPSNUM_0
	left outer join BPSUPPLIER D ON B.BPSINV_0 = D.BPSNUM_0
	left outer join PRECEIPT E ON B.PTHNUM_0 = E.PTHNUM_0
	WHERE A.POHNUM_0 = @PONumber
	order by ProductID

END

--select * from Porderd where POHNUM_0 = 'PO226224'

