USE [CoreXDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_INSERT_PINVOICED]    Script Date: 8/19/2022 3:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_INSERT_PINVOICED] 
										  @RECNumber varchar(50),
										  @SupplierID varchar(50),
										  @PORDERNumber varchar(50),
										  @ProductBCS varchar(50),
										  @Description varchar(200),
										  @PackSize varchar(50),
										  @Unit varchar(50),
										  @Qty decimal(18,2),
										  --@ProductSupplier varchar(50),
									      @InnerCase decimal(18,2),
										  @GrossPrice decimal(18,2),
										  @EDLP decimal(18,2),
										  @EDLPP decimal(18,2),	
										  @TermPromo decimal(18,2),	
										  @TermPromoP decimal(18,2),	
										  @NetPrice decimal(18,2),	
										  @OrderAmount decimal(18,2),	
										  @ExpirationDate datetime,
										  @ReceivingSite varchar(50),
										  @Line int,
										  @ReceivingDate datetime,
										  @ROWID int,
										  @CreateUser varchar(50),
										  @NewPINNumber varchar(50)
	
AS
BEGIN
	DECLARE
	--@NewPINNumber varchar(50),
	@SupplierName varchar(50),
	--@PaymentTermKey varchar(50),
	@PaymentTerm varchar(50),
	@TotalAmount decimal(18,2),
	@TotalCount decimal(18,2),
	@ProductGroup varchar(2)



	--SELECT @NewPINNumber = CODNUM_0 + FORMAT(CAST(VALEUR_0 AS INT),'D6')
	--FROM AVALNUM
	--WHERE CODNUM_0 = 'PIN'

	SELECT @SupplierName = BPSNAM_0, @PaymentTerm = PTE_0
	FROM BPSUPPLIER
	WHERE BPSNUM_0 = @SupplierID

	--SELECT @PaymentTerm = TermName
	--FROM PaymentTerm
	--WHERE PaymentTermKey = @PaymentTermKey

	SELECT @ProductGroup = CdPackDeptTypeCode
	FROM Product
	WHERE ProductID = @ProductBCS 
		
	INSERT INTO PINVOICED(
	[UPDTICK_0]
      ,[INVTYP_0]
      ,[NUM_0]
      ,[PIDLIN_0]
      ,[PIVTYP_0]
      ,[PIHTYP_0]
      ,[CPY_0]
      ,[FCY_0]
      ,[ACCDAT_0]
      ,[BPR_0]
      ,[FCYLIN_0]
      ,[TYPORI_0]
      ,[NUMORI_0]
      ,[LINORI_0]
      ,[SEQORI_0]
      ,[ITMREF_0]
      ,[ITMDES1_0]
      ,[ITMDES_0]
      ,[UOM_0]
      ,[PUU_0]
      ,[STU_0]
      ,[UOMPUUCOE_0]
      ,[QTYUOM_0]
      ,[QTYPUU_0]
      ,[ORIQTYPUU_0]
      ,[QTYSTU_0]
      ,[QTYWEU_0]
      ,[ORIQTYWEU_0]
      ,[LINWEU_0]
      ,[QTYVOU_0]
      ,[ORIQTYVOU_0]
      ,[LINVOU_0]
      ,[GROPRI_0]
      ,[PRIREN_0]
      ,[DISCRGVAL1_0]
      ,[DISCRGVAL2_0]
      ,[DISCRGVAL3_0]
      ,[DISCRGVAL4_0]
      ,[DISCRGVAL5_0]
      ,[DISCRGVAL6_0]
      ,[DISCRGVAL7_0]
      ,[DISCRGVAL8_0]
      ,[DISCRGVAL9_0]
      ,[DISCRGREN1_0]
      ,[DISCRGREN2_0]
      ,[DISCRGREN3_0]
      ,[DISCRGREN4_0]
      ,[DISCRGREN5_0]
      ,[DISCRGREN6_0]
      ,[DISCRGREN7_0]
      ,[DISCRGREN8_0]
      ,[DISCRGREN9_0]
      ,[NETPRI_0]
      ,[ORINETPRI_0]
      ,[LINPURTYP_0]
      ,[DISCRGAMT1_0]
      ,[DISCRGAMT2_0]
      ,[DISCRGAMT3_0]
      ,[DISCRGAMT4_0]
      ,[DISCRGAMT5_0]
      ,[DISCRGAMT6_0]
      ,[DISCRGAMT7_0]
      ,[DISCRGAMT8_0]
      ,[DISCRGAMT9_0]
      ,[NETCUR_0]
      ,[POHNUM_0]
      ,[POPLIN_0]
      ,[POQSEQ_0]
      ,[PTHNUM_0]
      ,[PTDLIN_0]
      ,[PNHNUM_0]
      ,[PNDLIN_0]
      ,[INVNUM_0]
      ,[INVLIN_0]
      ,[SIDLIN_0]
      ,[BPSNUM_0]
      ,[RCPDAT_0]
      ,[PJT_0]
      ,[TSICOD_0]
      ,[TSICOD_1]
      ,[TSICOD_2]
      ,[TSICOD_3]
      ,[TSICOD_4]
      ,[SATISS_0]
      ,[SATRCP_0]
      ,[VAT_0]
      ,[VAT_1]
      ,[VAT_2]
      ,[TAXRCP_0]
      ,[TAXISS_0]
      ,[TAXOTH1_0]
      ,[TAXOTH2_0]
      ,[AMTNOTLIN_0]
      ,[AMTATILIN_0]
      ,[AMTDEPLIN_0]
      ,[DDTADEP1_0]
      ,[DDTADEP2_0]
      ,[DDTADEP3_0]
      ,[DDTADEP4_0]
      ,[DDTADEP5_0]
      ,[DDTADEP6_0]
      ,[DDTADEP7_0]
      ,[DDTADEP8_0]
      ,[DDTADEP9_0]
      ,[QTYBUDLIN_0]
      ,[QTYGLU_0]
      ,[GLU_0]
      ,[CLCAMT1_0]
      ,[CLCAMT2_0]
      ,[CLCAMT3_0]
      ,[CLCAMT4_0]
      ,[CLCAMT5_0]
      ,[CLCAMT6_0]
      ,[CLCAMT7_0]
      ,[DISBASLIN1_0]
      ,[BASTAXLIN1_0]
      ,[AMTTAXLIN1_0]
      ,[AMTTAXLIN2_0]
      ,[AMTTAXLIN3_0]
      ,[AMTTAXRCP_0]
      ,[AMTTAXISS_0]
      ,[AMTTAXOTH1_0]
      ,[AMTTAXOTH2_0]
      ,[DEDTAXLIN1_0]
      ,[DEDTAXLIN2_0]
      ,[DEDTAXLIN3_0]
      ,[DEDTAXRCP_0]
      ,[DEDTAXISS_0]
      ,[DEDTAXOTH1_0]
      ,[DEDTAXOTH2_0]
      ,[CPRCOE_0]
      ,[CPRAMT_0]
      ,[CPR_0]
      ,[CSTPUR_0]
      ,[LINAMTCPR_0]
      ,[LINCSTPUR_0]
      ,[STCNUM_0]
      ,[CPRCUR_0]
      ,[FCSCPR_0]
      ,[FCSCSTPUR_0]
      ,[PRTFLG_0]
      ,[LINTEX_0]
      ,[LINEECFLG_0]
      ,[EECFLOPHY_0]
      ,[STRDAT_0]
      ,[ENDDAT_0]
      ,[PERNBR_0]
      ,[PERTYP_0]
      ,[FASREF_0]
      ,[LINTYP_0]
      ,[LIKQTYCOE_0]
      ,[CMMNUM_0]
      ,[CREUSR_0]
      ,[CREDAT_0]
      ,[UPDUSR_0]
      ,[UPDDAT_0]
      ,[MATTOL_0]
      ,[TWMSTA_0]
      ,[FLG1099_0]
      ,[AMTNOTLINCAL_0]
      ,[CREDATTIM_0]
      ,[UPDDATTIM_0]
      ,[DCLEECNUM_0]
      ,[CSTMAJLIN_0]
      ,[FCSCOD_0]
      ,[STCRFLG_0]
      ,[EDLP]
      ,[EDLPP]
      ,[TermPromo]
      ,[TermPromoP]
      ,[ExpirationDate]
      ,[ReceivingSite]
	  )
	  VALUES(
	  1--[UPDTICK_0]
      ,1--[INVTYP_0]
      ,@NewPINNumber--[NUM_0]
      ,@Line--[PIDLIN_0]
      ,'INV'--[PIVTYP_0]
      ,1--[PIHTYP_0]
      ,'BIC'--[CPY_0]
      ,@ReceivingSite--[FCY_0]
      ,CONVERT(date, getdate())--[ACCDAT_0]
      ,@SupplierID--[BPR_0]
      ,@ReceivingSite--[FCYLIN_0]
      ,2--[TYPORI_0]
      ,@RECNumber--[NUMORI_0]
      ,@Line--[LINORI_0]
      ,0--[SEQORI_0]
      ,@ProductBCS--[ITMREF_0]
      ,@Description--[ITMDES1_0]
      ,@PackSize--[ITMDES_0]
      ,'CAS'--[UOM_0]
      ,'CAS'--[PUU_0]
      ,@Unit--[STU_0]
      ,1--[UOMPUUCOE_0]
      ,@Qty--[QTYUOM_0]
      ,@Qty--[QTYPUU_0]
      ,@Qty--[ORIQTYPUU_0]
      ,@InnerCase--[QTYSTU_0]
      ,0--[QTYWEU_0]
      ,0--[ORIQTYWEU_0]
      ,'KG'--[LINWEU_0]
      ,0--[QTYVOU_0]
      ,0--[ORIQTYVOU_0]
      ,'L'--[LINVOU_0]
      ,@GrossPrice--[GROPRI_0]
      ,-2--[PRIREN_0]
      ,0--[DISCRGVAL1_0]
      ,0--[DISCRGVAL2_0]
      ,0--[DISCRGVAL3_0]
      ,0--[DISCRGVAL4_0]
      ,0--[DISCRGVAL5_0]
      ,0--[DISCRGVAL6_0]
      ,0--[DISCRGVAL7_0]
      ,0--[DISCRGVAL8_0]
      ,0--[DISCRGVAL9_0]
      ,0--[DISCRGREN1_0]
      ,0--[DISCRGREN2_0]
      ,0--[DISCRGREN3_0]
      ,0--[DISCRGREN4_0]
      ,0--[DISCRGREN5_0]
      ,0--[DISCRGREN6_0]
      ,0--[DISCRGREN7_0]
      ,0--[DISCRGREN8_0]
      ,0--[DISCRGREN9_0]
      ,@NetPrice--[NETPRI_0]
      ,@NetPrice--[ORINETPRI_0]
      ,1--[LINPURTYP_0]
      ,0--[DISCRGAMT1_0]
      ,0--[DISCRGAMT2_0]
      ,0--[DISCRGAMT3_0]
      ,0--[DISCRGAMT4_0]
      ,0--[DISCRGAMT5_0]
      ,0--[DISCRGAMT6_0]
      ,0--[DISCRGAMT7_0]
      ,0--[DISCRGAMT8_0]
      ,0--[DISCRGAMT9_0]
      ,'USD'--[NETCUR_0]
      ,@PORDERNumber--[POHNUM_0]
      ,@Line--[POPLIN_0]
      ,1--[POQSEQ_0]
      ,@RECNumber--[PTHNUM_0]
      ,@Line--[PTDLIN_0]
      ,''--[PNHNUM_0]
      ,0--[PNDLIN_0]
      ,''--[INVNUM_0]
      ,0--[INVLIN_0]
      ,0--[SIDLIN_0]
      ,@SupplierID--[BPSNUM_0]
      ,CONVERT(date, getdate())--[RCPDAT_0]
      ,''--[PJT_0]
      ,@SupplierID--[TSICOD_0]
      ,''--[TSICOD_1]
      ,''--@Group--[TSICOD_2]
      ,''--[TSICOD_3]
      ,''--[TSICOD_4]
      ,''--[SATISS_0]
      ,''--[SATRCP_0]
      ,''--[VAT_0]
      ,''--[VAT_1]
      ,''--[VAT_2]
      ,''--[TAXRCP_0]
      ,''--[TAXISS_0]
      ,''--[TAXOTH1_0]
      ,''--[TAXOTH2_0]
      ,@OrderAmount--[AMTNOTLIN_0]
      ,@OrderAmount--[AMTATILIN_0]
      ,0--[AMTDEPLIN_0]
      ,0--[DDTADEP1_0]
      ,0--[DDTADEP2_0]
      ,0--[DDTADEP3_0]
      ,0--[DDTADEP4_0]
      ,0--[DDTADEP5_0]
      ,0--[DDTADEP6_0]
      ,0--[DDTADEP7_0]
      ,0--[DDTADEP8_0]
      ,0--[DDTADEP9_0]
      ,@Qty--[QTYBUDLIN_0]
      ,@Qty--[QTYGLU_0]
      ,'CAS'--[GLU_0]
      ,0--[CLCAMT1_0]
      ,0--[CLCAMT2_0]
      ,0--[CLCAMT3_0]
      ,0--[CLCAMT4_0]
      ,0--[CLCAMT5_0]
      ,0--[CLCAMT6_0]
      ,0--[CLCAMT7_0]
      ,0--@@@@@@@@@@@@@@[DISBASLIN1_0]
      ,0--[BASTAXLIN1_0]
      ,0--[AMTTAXLIN1_0]
      ,0--[AMTTAXLIN2_0]
      ,0--[AMTTAXLIN3_0]
      ,0--[AMTTAXRCP_0]
      ,0--[AMTTAXISS_0]
      ,0--[AMTTAXOTH1_0]
      ,0--[AMTTAXOTH2_0]
      ,0--[DEDTAXLIN1_0]
      ,0--[DEDTAXLIN2_0]
      ,0--[DEDTAXLIN3_0]
      ,0--[DEDTAXRCP_0]
      ,0--[DEDTAXISS_0]
      ,0--[DEDTAXOTH1_0]
      ,0--[DEDTAXOTH2_0]
      ,0--[CPRCOE_0]
      ,0--[CPRAMT_0]
      ,0--@CostPrice[CPR_0]
      ,0--@CostPrice[CSTPUR_0]
      ,0--[LINAMTCPR_0]
      ,0--[LINCSTPUR_0]
      ,''--[STCNUM_0]
      ,'USD'--[CPRCUR_0]
      ,0--[FCSCPR_0]
      ,0--[FCSCSTPUR_0]
      ,1--[PRTFLG_0]
      ,''--[LINTEX_0]
      ,0--[LINEECFLG_0]
      ,0--[EECFLOPHY_0]
      ,'1753-01-01 00:00:00.000'--[STRDAT_0]
      ,'1753-01-01 00:00:00.000'--[ENDDAT_0]
      ,0--[PERNBR_0]
      ,1--[PERTYP_0]
      ,''--[FASREF_0]
      ,1--[LINTYP_0]
      ,0--[LIKQTYCOE_0]
      ,''--[CMMNUM_0]
      ,@CreateUser--[CREUSR_0]
      ,CONVERT(date, getdate())--[CREDAT_0]
      ,@CreateUser--[UPDUSR_0]
      ,CONVERT(date, getdate())--[UPDDAT_0]
      ,''--[MATTOL_0]
      ,1--[TWMSTA_0]
      ,1--[FLG1099_0]
      ,0--[AMTNOTLINCAL_0]
      ,GETDATE()--[CREDATTIM_0]
      ,GETDATE()--[UPDDATTIM_0]
      ,''--[DCLEECNUM_0]
      ,1--[CSTMAJLIN_0]
      ,''--[FCSCOD_0]
      ,0--[STCRFLG_0]
	  ,@EDLP--[EDLP]
      ,@EDLPP--[EDLPP]
      ,@TermPromo--[TermPromo]
      ,@TermPromoP--[TermPromoP]
      ,@ExpirationDate--[ExpirationDate]
      ,@ReceivingSite--[ReceivingSite]
	  )

	--UPDATE AVALNUM 
	--set 
	--VALEUR_0 = VALEUR_0 + 1,
	--UPDUSR_0 = @CreateUser,
	--UPDDATTIM_0 = GETDATE()
	--where CODNUM_0 = 'PO'

	UPDATE PRECEIPT
	SET PStatus = 'RINVOICE'
	WHERE ROWID = @ROWID
	                
END